.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 150px;
  height: 100%;
  background-color: rgb(88, 24, 31);
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 15px 35px;
  transform: translateX(-83%);
  transition: all;
  transition-duration: 200ms;
  padding-right: 70px;

  &:hover {
    transform: translateX(0);
  }

  .sideMenuItemWrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .sideMenuItemsWrapper {
    height: calc(100% - 115px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sideMenuItem {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(88, 24, 31);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }

  .sideMenuItemReverted {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: max-content;
    transform: translateX(0);
    transform: translateY(-85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    padding-left: 0;
  }
}

.icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 11px;

  @media (max-width: 600px) {
    position: unset;
    order: 3;
    transform: rotate(90deg);
    padding: 15px 0;
  }
}

.footer {
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translate(50%, 0);
  font-size: 12px;
  font-style: italic;
  min-width: 140px;

  @media (max-width: 600px) {
    padding-top: 15px;
  }
}

.footerIcon {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
